fastapi==0.115.12
uvicorn==0.34.2

firebase-admin==6.1.0
google-cloud-firestore==2.13.1

pandas==2.2.3
scikit-learn==1.6.1
numpy==2.2.5

konlpy==0.6.0
jpype1==1.5.2
jamo==0.4.1

rapidfuzz==3.13.0
fastapi-utils
typing-inspect
typing-extensions
pympler